<div class="blogpost">
  <h4>{{title}}</h4>
  <p>{{content}}</p>
  <p>Posted by {{author.username}} at {{createdAt}}</p>
</div>

<style>
  .blogpost { border: 2px solid black; padding: 5px; margin-bottom: 10px; }
</style>