<h1>Dashboard</h1>

<button>New Post</button>

<form method="post">
  <label>
    <p>Title</p>
    <input type="text" name="title" id="title-input" />
  </label>

  <label>
    <p>Content</p>
    <textarea name="content" id="content-input"></textarea>
  </label>

  <br />

  <button type="submit">Submit</button>
</form>

<h2>Your Posts</h2>
{{#each posts}}
  {{> post}}
{{/each}}

