<h1>Dashboard</h1>

<button id="new-post-btn">New Post</button>

<dialog>
  <h2>New Post</h2>

  <form method="post">
    <label>
      <p>Title</p>
      <input type="text" name="title" id="title-input" />
    </label>

    <label>
      <p>Content</p>
      <textarea name="content" id="content-input"></textarea>
    </label>

    <br />
    <br>

    <button type="submit">Submit</button>
  </form>
</dialog>


<h2>Your Posts</h2>
{{#each posts}}
  {{> post}}
{{/each}}

<script lang="js">
  const dialogEl = document.querySelector("dialog"); 
  const openDialogEl = document.querySelector("#new-post-btn");
  openDialogEl.addEventListener("click", () =>
  dialogEl.showModal());
</script>